<div class="container">
  <div class="col-lg-offset-4 col-md-offset-4 col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <%= form_for(@parish) do |f| %>
      <% if @parish.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@parish.errors.count, "error") %> prohibited this parish from being saved:</h2>

          <ul>
          <% @parish.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <b><%= f.label :Name, raw("<strong>Nombre:</strong>"), :class=>"control-label" %></b><br>
        <%= f.text_field :Name, :autocomplete => :off, :class=>"form-control" %>
      </div>
      <div class="field">
        <%= f.label :Dirección, raw("<strong>Dirección:</strong>"), :class=>"control-label" %><br>
        <%= f.text_field :address, :autocomplete => :off, :class=>"form-control" %>
      </div>
      <div class="field">
        <%= f.label :Encargados, raw("<strong>Encargado:</strong>"), :class=>"control-label" %><br>
        <%= f.text_field :managers_id, list: "members_list", :autocomplete => :off, :class=>"form-control" %>
        <datalist id="members_list">
          <% @members.each do |member| %>
            <option id="<%= member.id %>" value="<%= member.fullName %>"></option>
          <% end %>
        </datalist>
      </div>
      <div class="field">
        <%= f.label :Vicaría, raw("<strong>Vicaría:</strong>"), :class=>"control-label" %><br>
        <%= f.select(:vicarage_id,@vicarages.collect {|vicarage| [ vicarage.Name, vicarage.id ] }, {include_blank: 'Seleccione una vicaría'},{:class=>'form-control'}) %>
      </div>
      <div class="actions" align="center">
        <br/>
        <%= f.submit :class => 'btn btn-primary btn-lg', :style=>'width:100%;' %>
      </div>
    <% end %>
  </div>
</div>