<div class="container">
  <div class="col-lg-offset-4 col-md-offset-4 col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <%= form_for(@vicarage) do |f| %>
      <% if @vicarage.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@vicarage.errors.count, "error") %> prohibited this vicarage from being saved:</h2>

          <ul>
          <% @vicarage.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :Name, raw("<strong>Nombre:</strong>") %><br>
        <%= f.text_field :Name, :autocomplete => :off, :class=>"form-control" %>
      </div>
      <div class="field">
        <%= f.label :managers_id, raw("<strong>Encargado:</strong>") %><br>
        <%= f.text_field :managers_id, list: "members_list", :autocomplete => :off, :class=>"form-control" %>
          <datalist id="members_list">
            <% @members.each do |member| %>
              <option id="<%= member.id %>" value="<%= member.fullName %>"></option>
            <% end %>
          </datalist>
      </div><br/>
      <div class="actions" align="center">
        <%= f.submit :class => 'btn btn-primary btn-lg', :style=>'width:100%;'%>
      </div>
    <% end %>
  </div>
</div>
