<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre Completo:</strong>
  <%= @member.fullName %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @member.birthDate %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @member.group_id %>
</p>

<%= link_to 'Modificar', edit_member_path(@member) %> |
<%= link_to 'Lista de Integrantes', members_path %>
